li.nav-tab {
    padding: 10px 20px;
    background-color: #1d3557;
    margin: 0 5px 0 0;
    color: #f0f0f0;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
}
li.nav-tab.nav-tab-active {
    padding: 10px 20px;
    background-color: #2a9d8f;
    margin: 0 5px 0 0;
    color: #f0f0f0;
    text-transform: uppercase;
    width: auto;
}
.sip_main_container .tab-content {
    display: none;
    padding: 15px 0;
}
.sip_main_container .tab-content.current {
    display: inherit;
}
.inner_div {
    background-color: #fff;
    padding: 0px 10px;
}
.inner_div h1 {
    background-color: #5e6871;
    padding: 11px;
    color: white;
}
label.sip_form_body {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
label.sip_back_desc {
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}