select#invst_type, select#inflation {
    max-width: 30%;
    background: #fff;
    font-size: 16px;
    color: #153a5b;
    height: 30px;
    width: 30%;
    position: absolute;
    right: 0;
    padding: 5px 10px 5px 30px;
    line-height: 14px;
    border: 2px solid;
    border-radius: 5px;
}
.sip-calc-header-section a {
	text-decoration: none;
}
.sip-calc-header-section a:hover {
	text-decoration: none;
}
.sip-calc-header-section li {
	list-style: none;
}
.sip-calc-header-section {
	height: inherit;
	color: white;
	position: relative;
	padding: 0 15px 15px 15px; 
    margin: 0 auto 0 auto;
    width: 100% !important;
    max-width: 1200px !important;
}
.sip_calc_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sip-calc {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding: 20px;
}
.caption-cont {
	color: #2D3047;
	text-align: center;
}
#calc-form {
/*	margin-top: 20px;*/
	color: black;
	/*max-width: 100%;
	font-size: 14px;
	padding: 50px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px #dad7d7;*/
}
.sip-calc-header-section input[type=number] {
	transition: all 0.5s;
	border-radius: 4px !important;
	border: 1px solid #ccc;
	padding: 5px !important;
	width: 100%;
	max-width: 100%;
	font-size: 15px;
    line-height: 20px;
}
.sip_cal_alert {
	color: red;
	font-style: italic;
	padding: 0px !important;
}
.sip-calc-header-section label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold !important;
}
div#result1 {
    /*width: 50%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#result_cont {
	color: black;
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#result_cont>.containers {
/*	padding: 20px;*/
}
.res-box {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px #dad7d7;
	padding: 20px;
}
#result2 {
	/*margin-top: 20px;
	width: 50%;*/
    max-width: 41.666667%;
    flex: 0 0 41.666667%;
    padding: 20px;
}
/*canvas#myChart {
    width: 400px !important;
    height: 400px !important;
    margin: 0 auto;
}*/
.valid_deactive{
	font-size: 14px;
	display: none;
}
.sip_calculator_col {
    padding: 0px 15px;
/*    width: 50%;*/
}
/*.sip_from_filed {
    margin-bottom: 25px;
}*/
.sip_calc_res_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sip_calc_res_box span {
    margin-left: 12px !important;
}
caption#tab_cap {
    font-size: 16px;
    background: #eaf6ff;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
}
.sip-cal-table-hover th {
    font-size: 15px;
}
table.sip-cal-table.sip-cal-table-hover th, table.sip-cal-table.sip-cal-table-hover td {
/*    border: 0.1rem solid #dcd7ca;
    line-height: 1.4;
    margin: 0;
    overflow: visible;
    padding: 0.5em;*/
    text-align: center;
    text-align: center;
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
}
#result1 label {
	padding: 16px 0;
	color: #666;
}

/* oc5 css */
button#calculatebtn {
    padding: 10px 30px;
    font-size: 15px;
    background-color: #836161;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
button#calculatebtn:hover {
    background-color: #233e54;
    color: #fff;
}
table.sip-cal-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;

}
#projectTable tr td {
	border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
}
#projectTable tr td:first-child {
	border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#projectTable tr td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#projectTable tr:hover td {
    background-color: #ebebeb;
    cursor: pointer;
}
.sip-cal-table>tbody>tr:nth-of-type(odd) {
/*    background-color: #f4f4f4;*/
}
.res_table {
    padding: 50px 0;
}
.range_data_box .rangeslider__handle:after {
    content: none;
}
.range_data_box .rangeslider--horizontal {
    height: 12px;
}
.range_data_box .rangeslider__handle {
    width: 30px !important;
    height: 30px !important;
}

@media screen and (max-width: 500px) {

	#field3 {
		margin-top: 30px;
	}

	#calc-form {
/*		width: 100%;*/
		padding: 20px;
	}

	.res_table {
		margin-top: 20px;
	}

	#primecap {
		display: none;
	}
	
}
@media only screen and (max-width: 768px) {
	div#result1 {
		display: block;
	}
	.sip_calculator_col {
	    width: 100%;
	}
	#result_cont {
		width: 100%;
	}
	#result_cont>.containers {
/*		padding: 20px 15px;*/
	}
	.containers_fluid_rows {
	    padding: 0 10px 0 10px;
	}
	.sip_calculator_col {
	    padding: 0px; 
	}
	.containers {
	    width: 100%;
	    /*padding-right: 10px;
	    padding-left: 10px;*/
	    margin-right: auto;
	    margin-left: auto;
	}
	table.sip-cal-table.sip-cal-table-hover {
	    width: 100%;
	    margin-bottom: 1rem;
	}
	caption#tab_cap {
	    font-size: 12px;
	}
	.sip-cal-table-hover th {
	    font-size: 12px;
	}
	.sip-cal-table-hover td {
	    padding: 7px;
	    font-size: 14px;
	}

	.sip_respons {
		margin-bottom: 0px;
	}
	#result1 label {
		padding: 12px 0;
	}
	.sip-calc-header-section {
		padding: 0px;
	}
	#result1 span {
		font-size: 18px !important;
	}
	/*...............................*/
	.sip-calc-header-section {
		max-width: 100% !important;
	}
	.sip_calc_container {
		display: flex;
	    max-width: 100% !important;
	    flex-wrap: wrap;
	    justify-content: center;
	    padding: 0px 10px 0px 10px;
	}
	.sip-calc {
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding: 0px;
	}
	#result2 {
		flex: 0 0 100%;
	    max-width: 100%;
	    padding: 0px;
	}
	.range_data_box .sip-field {
	    display: flex;
	    margin-bottom: 41px;
	    margin-top: 20px;
	    position: relative;
	    align-items: flex-start;
	}
	.range_data_box label.sip_label {
		font-size: 14px;
	}
	.sip_calc_container .sip-calc .sip_text_field {
		max-width: 20%;
	    font-size: 14px;
	    height: 30px;
	    padding: 0px 10px;
	    width: 20%;
	}
	select#invst_type, select#inflation {
	    max-width: 20%;
	    font-size: 14px;
	    height: 30px;
	    width: 20%;
	    padding: 5px 10px;
	}

}


.sip-field {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
    margin-top: 20px;
    position: relative;
}
label.sip_label {
    font-size: 16px;
    font-weight: 500;
    color: #153a5b;
    letter-spacing: .11px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sip-calc .sip_text_field {
	max-width: 30%;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #153a5b;
    height: 30px;
    position: absolute;
    right: 0;
    padding: 5px 10px 5px 30px;
    width: 30%;
    line-height: 14px;
    border: 2px solid;
}